<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Stockor Next Gen Test</title>
    <%= javascript_include_tag 'skr/workspace' %>
    <%= stylesheet_link_tag 'skr/workspace' %>
    <script>
      Skr.$( function(){
        Skr.App = new Skr.Application({
<% binding.pry %>
          api_path: "<%= skr_workspace.to_s %>",
          paths: <%=raw skr_asset_paths_for( 'stockor-logo-sm.png' ).to_json %>
        });
      });
    </script>
  </head>

  <body>



</body>
</html>
