<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Stockor Next Gen Test</title>
    <%= javascript_include_tag 'skr/workspace' %>
    <%= stylesheet_link_tag 'skr/workspace' %>
    <script type="text/javascript">
        new Skr.Application({
         element: '.my-skr-test-root',
         view: 'Skr.Workspace.UI.Layout',
         api_path: "<%= skr_workspace.url_for + 'api/' %>"
     }, <%= Skr::Workspace.bootstrap_data(self).to_json.html_safe %> );
    </script>
  </head>

  <body style="margin: 10px; background-color: yellow;">

      <div class="my-skr-test-root">
      </div>

  </body>
</html>
