      <a class="menu-toggle"><i class="icon-paragraph-justify2"></i></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
        <span class="sr-only">Toggle navbar</span>
      </button>

      <button data-target=".sidebar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-paragraph-justify2"></i>
      </button>
