.skr-simple-checkout {

    $spinner-size: 10px;
    @mixin spinner($opacity, $size){
        box-shadow: rgba(0, 0, 0, $opacity) $size*1.5 0 0 0,
        rgba(0, 0, 0, $opacity) ($size*1.1) ($size*1.1) 0 0,
        rgba(0, 0, 0, $opacity) 0 ($size*1.5) 0 0,
        rgba(0, 0, 0, $opacity) (-$size*1.1) ($size*1.1) 0 0,
        rgba(0, 0, 0, $opacity) (-$size*1.5) 0 0 0,
        rgba(0, 0, 0, $opacity) (-$size*1.1) (-$size*1.1) 0 0,
        rgba(0, 0, 0, $opacity) 0 (-$size*1.5) 0 0,
        rgba(0, 0, 0, $opacity) $size*1.1 (-$size*1.1) 0 0;
    }


    @import "./Components/address_form";
    @import "./order";

    margin: 50px 100px;
    .section {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 2px solid grey;
    }

    input {
        font-size: 18px;
        padding: 5px;
    }
    .errors {
        display: none;
        color: #D8000C;
        background-color: #FFBABA;
        border: 1px solid darken(#FFBABA, 50%);
        &.visible{ display: block; }
    }
    .cart {
        width: 100%;
        td, th {
            &:last-child { text-align: right; }
        }
        input {
            width: 4rem;
            text-align: center;
        }
    }
    .credit-card-form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .credit-card-inputs {
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
            input { margin: 5px; }
        }
    }
    button {
        border: 0;
        background: #3498db;
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        font-family: Arial;
        color: #f0edf0;
        font-size: 22px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        &:hover {
            background: #3cb0fd;
            background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
            text-decoration: none;
        }
    }
    .mask {
        background-color: transparent;
        display: none;
    }

}
