.invoice {
    .total-hours { margin-right: 0.5rem; }
}

.invoice-total-hours-tooltip {
    width: 100px;
}

.invoice-payment {
    .input-fields {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 2px solid lightgray;
    }

    .toggles {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        label {
            input{ margin-top: 0; }
            display: flex;
            align-items: center;
        }
    }
}
