@import "address/styles";
@import "credit-card-form";

.row.totals {
    .total {
        text-align: right;
        padding-right: $table-cell-padding * 2;
    }
}

.currency {
    .sym {
        font-size: 70%;
        vertical-align: super;
        margin-left: 5px;
    }
}


.totals.row {
    display: flex;
    align-items: baseline;
}
