<div class="address">
    <div class="row">
        <%= h.text_field 'name', width:12 %>
    </div>
    <div class="row">
        <%= h.text_field 'phone', widths:[12,6] %>
        <%= h.text_field 'email', widths:[12,6] %>
    </div>
    <div class="row">
        <%= h.text_field 'line1', width:12 %>
    </div>
    <div class="row">
        <%= h.text_field 'line2', width:12 %>
    </div>
    <div class="row">
        <%= h.text_field 'city', widths:[12,12,7,7] %>
        <%= h.text_field 'state', widths:[8,8,3,3] %>
        <%= h.text_field 'postal_code', label: 'Zip', widths:[4,4,2,2] %>
    </div>
</div>
