/*
 If your screen does not use any custom styles

 You should remove this file and it's reference from config/screens.rb

 Otherwise Lanes will continue to fetch an empty file whenever
 the screen is displayed
*/
@import "lanes/screens/styles";
.time-tracking {

    .calendar-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        .display label+label {
            padding-left: 1rem;
        }
        .paging {
            display: flex;
            flex-direction: row;
            align-items: center;
            .legend{
                font-size: 2rem;
                padding: 0 0.5rem;
            }
        }
        .select {
            width: 200px;
            @include lanes-unpadded-dropdown();
        }
    }

    @each $current-color in $lanes-color-selections {
        $i: index($lanes-color-selections, $current-color);
        .calendar-header .select .color-#{$i} {
            background: $current-color;
            color: nth($lanes-text-color-selections, $i);
        }
        .day.summary .color-#{$i} {
            background: $current-color;
            color: nth($lanes-text-color-selections, $i);
        }
    }


    .dayz {
        flex: 1;
        &.month {
            .x-labels {
                width: 94.5%;
                .day-label {
                    flex-basis: (100%/7);
                }
            }
            .days {
                .day {
                    flex-basis: 13.5%;
                }
                .summary {
                    flex-basis: 5.5%;
                    flex-direction: column;
                    display: flex;
                    justify-content: center;
                    text-align: right;
                }
            }
        }
    }

    .popover {
        width: 400px;
        .controls {
            border-top: 2px solid lightgrey;
            padding-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button { width: 6rem; }
        }
    }

    .entry-body {
        min-height: 365px;
    }
    .dayz .label {
        font-size: 1rem;
        color: darkgrey;
    }
}
