<div class="customer">
    <%= h.toolbar buttons: ['save','reset'] %>

    <div class="header">
        <div class="row">
            <%= h.subview 'finder',  widths: [12,4,4,3], label: 'Code' %>
            <%= h.text_field 'name', widths: [12,8,8,9] %>
        </div>

        <div class="row">
            <%= h.text_field 'notes', widths: [12,9] %>
            <%= h.subview 'terms', widths: [12,3] %>
        </div>
    </div>

    <div class="row">
        <div class="<%= h.grid_widths 12,6 %>">
            <fieldset class="addresses bordered">
                <legend>Billing Address</legend>
                <%= h.subview 'billaddr', unwrapped: true %>

            </fieldset>
        </div>
        <div class="<%= h.grid_widths 12,6 %>">
            <fieldset class="addresses bordered">
                <legend>Shiping Address</legend>
                <%= h.subview 'shipaddr', unwrapped: true %>
            </fieldset>
        </div>
    </div>

</div>
