.fresh-books-import {
    .job-executing {
        width: 80%;
        margin: 80px auto;
    }
    .api-info {
        .domain {
            padding-top: 35px;
        }
    }
    .import-records {
        .clients tbody tr td:last-child {
            width: 130px;
            input { width: 100%; }
        }
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        h3 { margin: 0; }
        td,th {
            &:first-child {
                width: 80px;
                text-align: center;
            }
        }
        .table-responsive {
            overflow: visible;
        }
        table.staff {
            td,th {
                &:last-child {
                    width: 200px;
                }
            }
        }
    }
}
