.gl-transactions {

    .grid-body {

        .posting {
            & + .posting { margin-left: 3px; }
            padding: 3px;
            background-color: lightGrey;
            border-radius: 4px;
        }
    }
}
