@font-face {
	font-family: 'skr-icon';
	src:url(font-path('skr/fonts/icomoon.eot') + '?-7u8s0f');
	src:url(font-path('skr/fonts/icomoon.eot') + '?#iefix-7u8s0f') format('embedded-opentype'),
		url(font-path('skr/fonts/icomoon.woff') + '?-7u8s0f') format('woff'),
		url(font-path('skr/fonts/icomoon.ttf')  + '?-7u8s0f') format('truetype'),
		url(font-path('skr/fonts/icomoon.svg')  + '?-7u8s0f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.stockor {
  [class^="icon-"], [class*=" icon-"] {
	              font-family: 'skr-icon';
	              speak: none;
	              font-style: normal;
	              font-weight: normal;
	              font-variant: normal;
	              text-transform: none;
	              line-height: 1;

                      position: relative;
                      top: 1px;
                      display: inline-block;

	              /* Better Font Rendering =========== */
	              -webkit-font-smoothing: antialiased;
	              -moz-osx-font-smoothing: grayscale;
                    }

  @import "fonts/style";

}
